.tooltip-container {
    position: relative;
    display: inline-block;
}

.tooltip-box {
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 6px;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.3s;
    text-wrap: nowrap;
    height: 40px;

}


.tooltip-container:hover .tooltip-box {
    opacity: 1;
}

.tooltip-top {
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 5px;
}

.tooltip-top::after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.tooltip-bottom {
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 5px;
}

.tooltip-bottom::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.tooltip-right {
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    margin-left: 5px;
}

.tooltip-right::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}

.tooltip-left {
    top: 50%;
    right: 100%;
    transform: translateY(-50%);
    margin-right: 5px;
}

.tooltip-left::after {
    content: " ";
    position: absolute;
    top: 50%;
    left: 100%;

    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent black;
}

.testTooltip {
    position: absolute;
    top: 40%;
    left: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.buttonFlex {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
}

button {
    background: linear-gradient(135deg, #ff7e5f, #feb47b);
    border: none;
    border-radius: 30px;
    color: white;
    padding: 15px 30px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    outline: none;
}

button:hover {
    background: linear-gradient(135deg, #feb47b, #ff7e5f);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}

button:active {
    transform: translateY(0);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}